@font-face {
  font-family: heroes;
  src: url('/Heroes.ttf'); /* from https://www.dafont.com/fr/heroes-2.font */
}

ion-title {
  font-family: heroes;
  font-size: 50px;
}

ion-icon{
  font-size: 2em;
}

/*.vue3-easy-data-table*/
.data-table {
  --easy-table-border: 0px;
  --easy-table-row-border: 0px;

  --easy-table-header-font-size: 16px;
  --easy-table-header-height: 15px;
  --easy-table-header-font-color: var(--ion-color-dark-shade);
  --easy-table-header-background-color: var(--ion-card-background);

  --easy-table-header-item-padding: 1px 15px;

  --easy-table-body-even-row-font-color: var(--ion-color-dark);
  --easy-table-body-even-row-background-color: #4c5d7a;

  --easy-table-body-row-font-color: var(--ion-color-dark);
  --easy-table-body-row-background-color: var(--ion-card-background);
  --easy-table-body-row-height: 15px;
  --easy-table-body-row-font-size: 16px;

  --easy-table-body-row-hover-font-color: var(--ion-color-dark);
  --easy-table-body-row-hover-background-color: var(--ion-color-light);

  --easy-table-body-item-padding: 1px 15px;

  --easy-table-scrollbar-track-color: var(--ion-card-background);
  --easy-table-scrollbar-color: var(--ion-card-background);
  --easy-table-scrollbar-thumb-color: #4c5d7a;;
  --easy-table-scrollbar-corner-color: var(--ion-card-background);

  --easy-table-loading-mask-background-color: var(--ion-card-background);
}

:root{
  --popper-theme-background-color: var(--ion-color-light);
  --popper-theme-background-color-hover: var(--ion-color-light);
  --popper-theme-text-color: var(--ion-color-dark);
  --popper-theme-border-width: 0px;
  --popper-theme-border-style: solid;
  --popper-theme-border-radius: 16px;
  --popper-theme-padding: 15px;
  --popper-theme-box-shadow: 0 6px 30px -6px rgba(0, 0, 0, 0.25);
}